<div
    class="badge | cap-rounded bg-accent padding-small fit-content-width"
    data-variant="ternary {{this.variant}} {{this.variant}} ''"
    title="{{this.hoverMessage}}"
>
    <i class="{{this.icon}}"></i>
    {{this.message}}
</div>