<div class="button-container">
    <button
        class="floating-control square {{this.additionalClass}}"
        id="{{this.location.name}}"
        data-action="{{this.location.name}}"
        title="{{this.location.tooltip}}"
    >
        <i class="{{location.icon}}"></i>
    </button>
</div>