  <fieldset class="button-group {{extraClass}}">
    {{#each this.choices}}
      <input
        type="radio"
		class="hidden-input"
        name="{{../propertyString}}"
        id="{{@key}}"
        value="{{@key}}"
		{{#if (eq ../chosen @key)}}
				checked	
		{{/if}}
      />
      <label class="flex-row" for="{{@key}}" data-title="">
        {{this}}
		{{!-- {{> (dynamicPartial "tooltip" @root.partials)}} --}}
      </label>
    {{/each}}
  </fieldset>