  <fieldset class="button-group {{extraClass}}">
    {{#each this.choices}}
      <span class="input-span slight-rounded fit-content-width interactive" data-variant="{{../variant}}">
   
          <input
            type="radio"
                class="accent-input"
            name="{{../propertyString}}"
            id="{{@key}}"
            value="{{@key}}"
                {{#if (eq ../chosen @key)}}
                        checked	
                {{/if}}
          />
          <label class="flex-row slight-rounded gap-small padding-small interactive" for="{{@key}}" data-title="">
            {{#if (eq ../variant "visible-tick") }}
                <span class="tick-circle"></span> 
            {{/if}}
            {{this}}
          </label>
      </span>
    {{/each}}
  </fieldset>