<button
    class="flex0 icon-button {{extraClass}}"
    name={{this.name}}
    data-display-name="{{this.displayName}}"
    data-action="{{this.action}}"
    data-hover-action="itemActions.hover.actions.showTooltip"
    data-title="{{this.tooltipText}}"
>
    <i class="{{this.icon}}"></i>
    {{!-- {{> (dynamicPartial "tooltip")
        content=this.tooltipText
        extraClass="tooltip-right tooltip-wide"
    }} --}}
    {{!-- {{> "modules/journal-to-canvas-slideshow/templates/tooltip.hbs" 
		content=this.tooltipText
		extraClass="tooltip-right tooltip-wide"
	}} --}}
</button>