<button
    type="button"
    class="flex0 icon-button {{extraClass}}"
    name={{this.name}}
    data-display-name="{{this.displayName}}"
    data-action="{{this.action}}"
    data-hover-action="itemActions.hover.actions.showTooltip"
    data-tooltip="{{this.tooltipText}}"
    data-variant="{{this.variant}}"
    title="{{this.tooltipText}}"
>
    <i class="{{this.icon}}"></i>
</button>