<div class="clickableImageControls" data-image="{{imgPath}}">
	
	<ul class="displayLocations | flex-column gap-small">
		{{#each displayMethods as |method|}}
		<li class="button-container {{method.additionalParentClass}}">
			<button class="floating-control square {{additionalClass}}" id="{{method.name}}" 
                data-method="{{method.name}}" 
                {{#if (eq method.name "fadeJournal")}}
                   data-action="displayActionButton.click.fadeJournal" 
               {{else if (eq method.name "anyScene")}}
                    data-action="displayActionButton.click.revealTileButtons"  
                    data-hover-action="displayActionButton.hover.revealTileButtons"
                    data-target-id="displayTileButtons"
                {{else}}
                    data-action="displayActionButton.click.sendImageDataToDisplay"
                {{/if}}
                data-ctrl-click-action="displayActionButton.ctrlClick.storeDefaultAction"
                title="{{method.tooltip}}">
				<i class="{{method.icon}}"></i>
	  		</button>
		</li>
	  	{{/each}}
	</ul>
	<div class="flex-column">
  <div class="displayTiles | hidden | flex-row rounded " id="displayTileButtons">
    {{#each displayTiles as |tileData|}}
      <button
        name="{{concat "selectedDisplayTile" @root.imgPath}}"
        data-display-name="{{tileData.tile.displayName}}"
        data-change-action="tileButton.change.updateImageFlags"
		data-hover-action="tileButton.hover.showTileIndicator"
        id="{{tileData.randomID}}"
        value="{{tileData.tile.id}}"
		{{#if @root.selectedTileID}}
			{{#if (eq @root.selectedTileID tileData.tile.id)}}
				checked	
			{{/if}}
		{{/if}}
      >
        {{tileData.tile.displayName}}
		{{> "modules/journal-to-canvas-slideshow/templates/tooltip.hbs" content=(combineToString (ternary (eq @root.selectedTileID tileData.tile.id) "This image will be displayed on the selected tile" "Click to display this image on tile") "<span>" tileData.tile.displayName "</span>" "in scene" "<span>" @root.currentSceneName "</span>")}}
      </button>
    {{/each}}
  </div>
</div>
</div>