<div class="clickableImageControls" data-image="{{imgPath}}">
	
	<ul class="displayLocations | flex-column gap-small reset-margin reset-padding">
		{{#each displayMethods as |method|}}
		<li class="button-container {{method.additionalParentClass}}">
			<button class="floating-control square {{additionalClass}}" id="{{method.name}}" 
                data-method="{{method.name}}" 
                {{#if (eq method.name "fadeJournal")}}
                   data-action="displayActionButton.click.fadeJournal" 
               {{else if (eq method.name "anyScene")}}
                    data-action="displayActionButton.click.revealTileButtons"  
                    data-hover-action="displayActionButton.hover.revealTileButtons"
                    data-target-id="displayTileButtons"
                {{else}}
                    data-action="displayActionButton.click.sendImageDataToDisplay"
                {{/if}}
                data-ctrl-click-action="displayActionButton.ctrlClick.storeDefaultAction"
                title="{{method.tooltip}}">
				<i class="{{method.icon}}"></i>
	  		</button>
		</li>
	  	{{/each}}
	</ul>
	<div class="displayTiles | JTCS-hidden | flex-row flex-wrap | rounded " id="displayTileButtons">
        {{#if displayTiles.length}}
        {{#each displayTiles as |tileData|}}
        <button
			type="button"
            name="{{concat "selectedDisplayTile" @root.imgPath}}"
            data-display-name="{{tileData.tile.displayName}}"
            data-action="tileButton.click.displayImageOnTile"
            data-hover-action="tileButton.hover.showTileIndicator"
            data-id="{{tileData.tile.id}}"
            id="{{tileData.randomID}}"
            {{#if (eq tileData.tile.id @root.defaultArtTileID)}}
                data-is-default="true"
            {{/if}}
            title='{{combineToString "Show image on " tileData.tile.displayName " | Ctrl/Cmd + Click to go to Art Tile config"}}'
        >
            {{tileData.tile.displayName}}
        </button>
        {{/each}}
        {{else}}
            <p class="empty-state slight-rounded" data-type="art">No <span class="accent"> Art Tiles </span> in Scene</p>
        {{/if}}
     
    </div>
</div>