<div class="form-group has-floating-label">
    <label class="floating-label" for="{{this.id}}">{{camelCaseToArray this.name true}}</label>
        <input
            class="flex2"
            id="{{this.id}}"
            name="{{this.name}}"
            type="{{ternary this.type 'text'}}"
            value="{{this.value}}"
            data-change-action="{{this.changeAction}}"
        />
    {{#if (eq this.errorCondition true)}}
        {{> (dynamicPartial "notification-badge")}}
    {{/if}}
</div>