<div class="form-group has-floating-label">
    <label class="floating-label" for="{{this.id}}">{{this.name}}</label>
    {{#if (eq this.type "select")}}
        <select name="{{this.name}}" id="{{this.id}}">
            {{selectOptions this.wikiData.choices selected=value nameAttr="key" labelAttr="label"}}
        </select>
    {{else}}
        <input
            class="flex3"
            id="{{this.id}}"
            name="{{this.name}}"
            type="{{ternary this.type 'text'}}"
            value="{{this.value}}"
        />
    {{/if}}
</div>