<li
    data-flag="ignore-hover"
    class="new tile-list-item | interactive flexcol flex-justify-stretch focus-reveal rounded padding-small"
    data-type="{{this.type}}"
>
    <label for="new{{this.type}}0" class="interactive | focus-reveal">
        <i class="fas fa-plus"></i>
        Create new
        {{this.type}}
        tile
        <input
            id="new{{this.type}}0"
            data-action="createNewTileData"
            type="text"
            name="newTileName"
            class="focus-reveal--child"
            placeholder="Create new {{this.type}} tile"
        />
        <p class="notes focus-reveal--child">Press <code>Enter</code> or click away to save</p>
    </label>
</li>