<li
    data-flag="ignore-hover"
    class="new tile-list-item | interactive flexcol flex-justify-stretch focus-reveal rounded padding-small shadow-base"
    data-type="{{this.type}}"
>
    <button class="toggle-hide blank-button slight-rounded interactive" data-action="createNewTileData">
        <i class="fas fa-plus"></i>
        Create new
        {{this.type}}
        tile
    </button>
    {{!-- <label for="new{{this.type}}0" class="interactive | focus-reveal--sibling">
        <input
            id="new{{this.type}}0"
            data-action="createNewTileData"
            type="text"
            name="newTileName"
            placeholder="Create new {{this.type}} tile"
        />
        <p class="notes">Press <code>Enter</code> or click away to save</p>
    </label> --}}
</li>