<form autocomplete="off" class="flexcol flow">

    <header class="flex0">
        <p class="flex0">Current Scene is:
            <span class="text-accent text-heavy">{{currentSceneName}}</span>
        </p>
        <label for="artScene">Art Scene</label>
        <select name="artScene" id="artScene" data-action="setArtScene">
            {{#each artSceneData.options as |scene|}}
                <option value="{{scene.id}}"
                    {{#if (eq @root.artSceneData.value scene.id)}}
                        selected 
                    {{/if}}
                >
                    {{scene.name}}
                </option>
            {{/each}}
        </select>
        <label for="artScene">Art Journal</label>
        <select name="artJournal" id="artJournal" data-action="setArtJournal">
            {{#each allJournals as |journal|}}
                <option value="{{journal.id}}">{{journal.name}}</option>
            {{/each}}
        </select>


    </header>
    <section class="tilesInScene 
                hidden-overflow-x hidden-overflow-y 
				padding-medium border-block border-color-shadow
				flexrow"
    >
		<div class="wrapper max-height-full-parent flexcol">
            <h3 class="flex0">Art Tiles</h3>
			<div class="item-wrapper 
			    [ border-styled border-hover 
				slight-rounded ] "
				>
			
            	<ul class="[ scroll-y 
							hidden-overflow-x reset-padding ]">
					{{#each artTiles as |tile|}}
						{{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs"
							tile type="art"
							currentSceneName=@root.currentSceneName
							allFrameTiles=@root.frameTiles
						}}
					{{/each}}
					{{!-- "Add New List Item" --}}
				
				</ul>
				{{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs"
                    type="art"
                    allBoundingTiles=artTiles
                }}
			</div>
		</div>
		<div class="wrapper max-height-full-parent flexcol">
			<h3 class="flex0">Frame Tiles</h3>
			<div class="item-wrapper
						[ border-styled border-hover 
						slight-rounded ]"
			>
			
				<ul class="[ scroll-y ]
						   [ hidden-overflow-x reset-padding ]"
					>
					{{#each frameTiles as |tile|}}
						{{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs"
							type="frame"
							currentSceneName=@root.currentSceneName
						}}
					{{/each}}
				
				</ul>
				{{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs"
						type="frame"
				}}
			</div>
		</div>
    </div>
    {{!-- <footer>
        <fieldset class="toggle-button-group | flex-row rounded">
        
            <input
                type="radio"
                class="hidden-input"
                    id="displayInScene"
                    name="displayLocation"
                    value="displayInScene"
            />
            <label class="flex-row" for="displayInScene" data-title="">
                Display In Scene
            </label>
        
            <input
                type="radio"
                class="hidden-input"
                id="displayInJournal"
                name="displayLocation"
                value="displayInJournal"
            />
            <label class="flex-row" for="displayInPopout" data-title="">
                Display In Popout
            </label>
        
        </fieldset>

    </footer> --}}
</form>