<form autocomplete="off" class="flex-col flow">

    <header class="flex-col">
        <p class="flex0">Current Scene is:
            <span class="text-accent text-heavy">{{currentSceneName}}</span>
        </p>
        <div class="wrapper flex-row flex-justify-space-evenly flex-align-center">
			<div class="form-group has-floating-label">
				<label class="floating-label" for="artScene">Art Scene</label>
				<select name="artScene" id="artScene" data-action="setArtScene">
					{{#each artSceneData.options as |scene|}}
						<option value="{{scene.id}}"
							{{#if (eq @root.artSceneData.value scene.id)}}
								selected
							{{/if}}
						>
							{{scene.name}}
						</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group has-floating-label">
				<label class="floating-label" for="artScene">Art Journal</label>
				<select name="artJournal" id="artJournal" data-action="setArtJournal">
					{{#each artJournalData.options as |journal|}}
						<option value="{{journal.id}}"
									{{#if (eq @root.artJournalData.value journal.id)}}
										selected
									{{/if}}
								>
									{{journal.name}}
								</option>
					{{/each}}
				</select>
			</div>
			<div class="actions">
				{{> (dynamicPartial "icon-button" partials)
					action="showModuleSettings" 
					icon="fas fa-cog" 
					tooltipText="Open Journal-to-Canvas Slideshow Settings"
				}}
				{{> (dynamicPartial "icon-button" partials)
					action="shareURL" 
					icon="fas fa-external-link-alt" 
					tooltipText="Share a URL link with your players"
				}}
			</div>
		</div>
    </header>
    <section class="tilesInScene 
                hidden-overflow-x hidden-overflow-y 
				padding-medium border-block border-color-shadow
				flexrow"
    >
		<div class="wrapper max-height-full-parent flexcol">
            <h3 class="flex0">Art Tiles</h3>
			<div class="item-wrapper 
			    [ border-styled border-hover 
				slight-rounded ] "
				>
			
            	<ul class="[ scroll-y 
						hidden-overflow-x reset-padding 
						flow ]"
				>
					{{#each artTiles as |tile|}}
						{{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs"
							tile type="art"
							currentSceneName=@root.currentSceneName
							allFrameTiles=@root.frameTiles
						}}
					{{/each}}
				
				</ul>
				{{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs"
                    type="art"
                    allBoundingTiles=artTiles
                }}
			</div>
		</div>
		<div class="wrapper max-height-full-parent flexcol">
			<h3 class="flex0">Frame Tiles</h3>
			<div class="item-wrapper
						[ border-styled border-hover 
						slight-rounded ]"
			>
			
				<ul class="[ scroll-y ]
						   [ hidden-overflow-x reset-padding 
						   flow ]" 
					>
					{{#each frameTiles as |tile|}}
						{{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs"
							type="frame"
							currentSceneName=@root.currentSceneName
						}}
					{{/each}}
				
				</ul>
				{{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs"
						type="frame"
				}}
			</div>
		</div>
    </div>
</form>