<form autocomplete="off" class="flexcol flow" data-fade-all="true">
    <header class="flex-col padding-medium flex0">
        <div class="wrapper flex-row flex-justify-space-end flex-align-center gap-small">
			<div class="form-group has-floating-label">
				<label class="floating-label" for="artScene">Art Scene</label>
				<select name="artScene" id="artScene" data-change-action="globalActions.change.actions.setArtScene">
                    <option value="">---</option>
					{{#each artSceneData.options as |scene|}}
						<option value="{{scene.id}}"
							{{#if (eq @root.artSceneData.value scene.id)}}
								selected
							{{/if}}
						>
							{{scene.name}}
						</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group has-floating-label">
				<label class="floating-label" for="artScene">Art Journal</label>
				<select name="artJournal" id="artJournal" data-change-action="globalActions.change.actions.setArtJournal">
                    <option value="">---</option>
					{{#each artJournalData.options as |journal|}}
						<option value="{{journal.id}}"
									{{#if (eq @root.artJournalData.value journal.id)}}
										selected
									{{/if}}
								>
									{{journal.name}}
								</option>
					{{/each}}
				</select>
			</div>
			<div class="actions flex-row flex-align-center">
                {{#with @root.settingsData.globalActions.click}}
                    {{#each (filter actions "renderedInTemplate" undefined) as |action|}}
                        {{> (dynamicPartial "icon-button")
                            action
                            name=(concat ../propertyString "." @key)
                            action=(concat ../propertyString "." @key)
                        }}
                    {{/each}}
                {{/with}}
			</div>
		</div>
    </header>
    {{!-- <h3 class="text-align-center flex0"><u>{{currentSceneName}}</u> Art Gallery</h3> --}}
    <section class="tilesInScene 
                hidden-overflow-x hidden-overflow-y 
				padding-inline-medium 
				flexrow gap-small
                flex1
                "
    >

        {{> (dynamicPartial "scene-tile-wrapper") 
            type="art"
            tiles=artTiles
        }}
        {{> (dynamicPartial "scene-tile-wrapper")
            type="frame"
            tiles=frameTiles
        }}
    </section>
    <section id="JTCS-config-instructions">
        <button 
        class="{{ternary areConfigInstructionsVisible "active" ""}}" 
        data-action="globalActions.click.actions.toggleInstructionsVisible" title="toggle instructions on and off">
            <i class="fas fa-info"></i>
        </button>
        <div class="instructions__content hidden">


        </div>
    </section>
</form>