<form autocomplete="off" class="flexcol flow">

    <header>
        <p class="flex0">Current Scene is:
            <span class="text-accent text-heavy">{{currentSceneName}}</span>
        </p>
        <select name="artScene" id="artScene">
            {{#each allScenes as |scene|}}
                <option value="{{scene.id}}">{{scene.name}}</option>
            {{/each}}
        </select>
        <select name="artJournal" id="artJournal">
            {{#each allJournals as |journal|}}
                <option value="{{journal.id}}">{{journal.name}}</option>
            {{/each}}
        </select>


    </header>

    <div class="tilesInScene flow scroll-y 
                hidden-overflow-x padding-medium 
                border-block border-color-shadow"
    >

        <details>
            <summary>
                <h3>Art Tiles</h3>
            </summary>
            <ul class="[ flow ] [ border-styled border-hover slight-rounded ]">
                {{#each artTiles as |tile|}}
                    {{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs"
                        tile type="art"
                        currentSceneName=@root.currentSceneName
                        allFrameTiles=@root.frameTiles
                    }}
                {{/each}}
                {{!-- "Add New List Item" --}}
                {{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs"
                    type="art"
                    allBoundingTiles=artTiles
                }}
            </ul>
        </details>

        <details>
            <summary>
                <h3>Frame Tiles</h3>
            </summary>
            <ul class="[ flow ] [ border-styled border-hover slight-rounded ]">
                {{#each frameTiles as |tile|}}
                    {{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs" 
                        type="frame" 
                        currentSceneName=@root.currentSceneName
                    }}
                {{/each}}
            </ul>
        </details>

    </div>
    <footer>
        <fieldset class="toggle-button-group | flex-row rounded">
        
            <input
                type="radio"
                class="hidden-input"
                    id="displayInScene"
                    name="displayLocation"
                    value="displayInScene"
            />
            <label class="flex-row" for="displayInScene" data-title="">
                Display In Scene
            </label>
        
            <input
                type="radio"
                class="hidden-input"
                id="displayInJournal"
                name="displayLocation"
                value="displayInJournal"
            />
            <label class="flex-row" for="displayInPopout" data-title="">
                Display In Popout
            </label>
        
        </fieldset>

    </footer>
</form>