<li
    class="tile-list-item | 
	interactive flexcol flex-justify-stretch padding-small slight-rounded | 
	hover-border focus-border focus-reveal hover-reveal flow"
    data-id="{{this.id}}"
    data-type="{{this.type}}"
    data-frame-id="{{this.linkedBoundingTile}}"
	data-display-name="{{this.displayName}}"
    data-missing="{{this.missing}}" 
>
	<header class="flex-row flex-nowrap flex-justify-space-between">
		{{> (dynamicPartial "input-with-error")
            name="Display Name" 
            id=this.displayName
            value=this.displayName
            errorCondition=(eq this.missing true)
            errorContent=(combineToString 
                "A " this.type "tile with ID " this.id 
                " doesn't exist in scene " 
                (wrapInSpan this.currentSceneName)
            )
        }} 
		<div class="[ actions ] [ flex0 focus-reveal--child hover-reveal--child ]">
			{{#if (eq this.missing true)}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="createSlideshowTile" 
				icon="fas fa-plus" 
				displayName=this.displayName
				tooltipText=(combineToString "Create a new" "<span>" this.type 
								"</span>" "tile on the canvas in scene" 
								"<span>" @root.currentSceneName "</span>" 
							)
			}}
			{{else}}
		
			{{/if}}
		
		
            {{#with @root.settingsData}}
                {{#each itemActions.click.actions}}
                    {{#unless (eq overflow true)}}
                    {{> (dynamicPartial "icon-button")
                        action=@key
                        name=(concat 
                            @root.settingsData.itemActions.click.propertyString "." @key)
                        icon=this.icon
                        tooltipText=this.tooltipText
                        extraClass=this.extraClass
                    }}
                    {{/unless}}
                {{/each}}
            {{/with}}
		</div>
	</header>
		{{#if (eq this.type "art")}}
            <footer class="footer">
                <div class="connectedTiles flex-row" data-title="">
                        <div class="form-group has-floating-label">
                            <label class="floating-label" for="linkedBoundingTile">Frame</label>
                            <select name="linkedBoundingTile" id="linkedBoundingTile">
                                <option value=""> Use Canvas As Frame </option>
                                {{#each this.allFrameTiles as |boundingTile|}}
                                    <option data-hover-action="highlightTile" data-id="{{boundingTile.id}}" value="{{boundingTile.id}}"
                                    {{#if (eq ../linkedBoundingTile boundingTile.id)}}
                                        selected
                                    {{/if}}>
                                        {{boundingTile.displayName}}
                                    </option>
                                {{/each}}
                            
                            </select>
                        </div>
                        {{> (dynamicPartial "tooltip" @root.partials)
                                content=(combineToString 
                                "Choose a tile to frame this tile's art," 
                                "<br/>" "or let it scale to the canvas.")
                        }}
                </div>	
            </footer>
		{{/if}}
</li>