<li
    class="tile-list-item | 
	interactive flexcol flex-justify-stretch padding-small slight-rounded | 
	hover-border focus-border focus-reveal hover-reveal flow"
    data-id="{{this.id}}"
    data-type="{{this.type}}"
    data-frame-id="{{this.linkedBoundingTile}}"
	data-display-name="{{this.displayName}}"
    data-missing="{{this.missing}}" 
    data-hover-action="itemActions.hover.actions.highlightItemAndTile"
    {{#if (eq this.type "art")}}
        data-action="itemActions.click.actions.setAsDefault"
        {{#if (eq this.id @root.defaultArtTileID)}}
            data-is-default="true"
        {{/if}}
    {{/if}}
>
	<header class="flex-row flex-nowrap flex-justify-space-between">
		{{> (dynamicPartial "input-with-error")
            name="displayName" 
            label="Display Name"
            changeAction="itemActions.change.actions.setDisplayName"
            id=this.displayName
            value=this.displayName
            errorCondition=(eq this.missing true)
            errorContent=(combineToString 
                "A " this.type "tile with ID " this.id 
                " doesn't exist in scene " 
                (wrapInSpan this.currentSceneName)
            )
        }} 
		<div class="[ actions ] [ focus-reveal--child hover-reveal--child ]">
            {{#with @root.settingsData}}
                {{#each (filter itemActions.click.actions "renderOnMissing" ../missing)}}
                    {{#unless (eq overflow true)}}
                    {{> (dynamicPartial "icon-button")
                        action=(concat "itemActions.click.actions" "." @key)
                        name=(concat 
                            @root.settingsData.itemActions.click.propertyString "." @key)
                        icon=this.icon
                        tooltipText=this.tooltipText
                        extraClass=this.extraClass
                    }}
                    {{/unless}}
                {{/each}}
            {{/with}}
		</div>
	</header>
		{{#if (eq this.type "art")}}
            <footer class="footer">
                <div class="connectedTiles flex-row" data-title="">
                        <div class="form-group has-floating-label">
                            <label class="floating-label" for="linkedBoundingTile">Frame</label>
                            <select name="linkedBoundingTile" id="linkedBoundingTile" data-change-action="itemActions.change.actions.setFrameTile">
                                <option value=""> Use Canvas As Frame </option>
                                {{#each this.allFrameTiles as |boundingTile|}}
                                    <option data-hover-action="highlightTile" data-id="{{boundingTile.id}}" value="{{boundingTile.id}}"
                                    {{#if (eq ../linkedBoundingTile boundingTile.id)}}
                                        selected
                                    {{/if}}>
                                        {{boundingTile.displayName}}
                                    </option>
                                {{/each}}
                            
                            </select>
                        </div>
                        {{> (dynamicPartial "tooltip" @root.partials)
                                content=(combineToString 
                                "Choose a tile to frame this tile's art," 
                                "<br/>" "or let it scale to the canvas.")
                        }}
                </div>	
            </footer>
		{{/if}}
</li>