<li
    class="tile-list-item | interactive flexcol flex-justify-stretch padding-small | slight-rounded hover-border focus-border focus-reveal hover-reveal"
    data-id="{{this.id}}"
    data-type="{{this.type}}"
    data-frame-id="{{this.linkedBoundingTile}}"
	data-display-name="{{this.displayName}}"
    data-missing="{{this.missing}}"
>
<details>
	<summary class="flex-row flex-nowrap flex-justify-space-between">
		<div class="form-group-stacked">
			<label>
				<span class="toggle-icon">
					<i class="fas fa-plus-square"></i>
				</span>
				Display Name
			</label>
				<input class="flex3" name="displayName" type="text" value="{{this.displayName}}">
			{{log this.missing}}
			{{#if (eq this.missing true)}}
				<p class="error | fs-small">
					<span>
						<i class="fas fa-unlink"></i>
					</span>
					A {{this.type}} tile with this id " {{this.id}} " doesn't exist in scene " <span class="accent">{{this.currentSceneName}} " </span>.
				</p>
				<label>
					Link to Tile In Scene
					<p class="notes">Choose a tile object in this scene to link this {{this.type}} data to, or create a new tile with this data.</p>
						<select name="unlinkedTiles" id="unlinkedTiles"> 
							<option value=""> Create New Tile </option>
							{{#each this.unlinkedTiles as |unlinkedTileID|}}
								<option data-id="{{unlinkedTileID}}" value="{{unlinkedTileID}}">
									Tile:
									{{unlinkedTileID}}
								</option>
							{{/each}}
							
						</select>
				</label>
			{{else}}
				<p class="hover-reveal--child focus-reveal--child">
					{{combineToString "this is linked to" "<span>" "Tile:" this.id "</span>" "in scene" @root.currentSceneName}} 
				</p>
			{{/if}}
		</div>
		{{#if (eq this.missing true)}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="createSlideshowTile" 
				icon="fas fa-plus" 
				displayName=this.displayName
				tooltipText=(combineToString "Create a new" "<span>" this.type 
							"</span>" "tile on the canvas in scene" "<span>" @root.currentSceneName "</span>" 
							)
			}}
		{{else}}
		<div class="[ actions ] [ flex0 focus-reveal--child hover-reveal--child ]">
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="selectTile" 
				icon="fas fa-vector-square" 
				tooltipText=(combineToString "select tile " "<span>" this.id 
							"</span>" "in scene" "<span>" @root.currentSceneName "</span>" 
							)
			}}
			{{/if}}

		{{#if (eq this.missing true)}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="linkTile" 
				icon="fas fa-link" 
				tooltipText="link this tile to tile in scene"
			}}
		{{else}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="renderTileConfig" 
				icon="fas fa-cog" 
				tooltipText=(combineToString 
							"link this data to a tile in scene" 
							"<span class='accent'>" @root.currentSceneName "</span>"
							)
			}}
		{{/if}}
			<button class="text-danger flex0 icon-button" 
				data-action="deleteTileData" 
				title="delete this {{this.type}} tile's data? (will not delete the tile object itself)"
			>
				<i class="fas fa-trash"></i>
			</button>
		</div>
	</summary>	
	<hr>
	{{#if (eq this.type "art")}}
		<div class="">
			<label>Link this Tile to a Frame</label> 
			<p class="notes"> Choose a tile to frame this tile's art, or let it scale to the scene's canvas.</p>
			<select name="linkedBoundingTile" id="linkedBoundingTile">
					<option value=""> Canvas As Frame </option>
						{{#each this.allFrameTiles as |boundingTile|}}
							<option data-id="{{boundingTile.id}}" value="{{boundingTile.id}}" {{#if (eq ../linkedBoundingTile boundingTile.id)}}
								selected
							{{/if}}>
								{{boundingTile.displayName}}
							</option>
						{{/each}}
				</select>
		</div>
   {{/if}}
</details>

</li>