<li
    class="tile-list-item | 
	interactive flexcol flex-justify-stretch padding-small slight-rounded | 
	hover-border focus-border focus-reveal hover-reveal flow"
    data-id="{{this.id}}"
    data-type="{{this.type}}"
    data-frame-id="{{this.linkedBoundingTile}}"
	data-display-name="{{this.displayName}}"
    data-missing="{{this.missing}}"
>
	<header class="flex-row flex-nowrap flex-justify-space-between">
		{{> (dynamicPartial "input-with-error")
            name="Display Name" 
            id=this.displayName
            value=this.displayName
            errorCondition=(eq this.missing true)
            errorContent=(combineToString 
                "A " this.type "tile with ID " this.id 
                " doesn't exist in scene " 
                (wrapInSpan this.currentSceneName)
            )
        }} 
		<div class="[ actions ] [ flex0 focus-reveal--child hover-reveal--child ]">
			{{#if (eq this.missing true)}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="createSlideshowTile" 
				icon="fas fa-plus" 
				displayName=this.displayName
				tooltipText=(combineToString "Create a new" "<span>" this.type 
								"</span>" "tile on the canvas in scene" 
								"<span>" @root.currentSceneName "</span>" 
							)
			}}
			{{else}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="selectTile" 
				icon="fas fa-vector-square" 
				tooltipText=(combineToString "select tile " "<span>" this.id 
								"</span>" "in scene" "<span>" 
								@root.currentSceneName "</span>" 
							)
			}}
			{{/if}}
			{{#if (eq this.missing true)}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="linkTile" 
				icon="fas fa-link" 
				tooltipText="link this tile to tile in scene"
			}}
			{{else}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs" 
				action="renderTileConfig" 
				icon="fas fa-cog" 
				tooltipText=(combineToString 
							"link this data to a tile in scene" 
							"<span class='accent'>" @root.currentSceneName "</span>"
							)
			}}
			{{/if}}
			{{> "modules/journal-to-canvas-slideshow/templates/icon-button.hbs"
				action="deleteTileData"	
				icon="fas fa-trash"
				tooltipText=(combineToString
						"delete this" this.type "tile data?" "<br/>"
						"(this will not delete the tile object in the scene itself)"
					)
				extraClass="danger-text"
			}}
            {{#with @root.settingsData}}
                {{#each individualTileActions.actions}}
                    {{> (dynamicPartial "icon-button")
                        action=@key
                        name=(concat 
                            @root.settingsData.individualTileActions.propertyString "." @key)
                        icon=this.icon
                        tooltipText=this.tooltipText
                        extraClass=this.extraClass
                    }}
                {{/each}}
            {{/with}}
		</div>
	</header>
		{{#if (eq this.type "art")}}
            <footer class="footer">
                <div class="connectedTiles flex-row" data-title="">
                        <div class="form-group has-floating-label">
                            <label class="floating-label" for="linkedBoundingTile">Frame</label>
                            <select name="linkedBoundingTile" id="linkedBoundingTile">
                                <option value=""> Use Canvas As Frame </option>
                                {{#each this.allFrameTiles as |boundingTile|}}
                                    <option data-id="{{boundingTile.id}}" value="{{boundingTile.id}}"
                                    {{#if (eq ../linkedBoundingTile boundingTile.id)}}
                                        selected
                                    {{/if}}>
                                        {{boundingTile.displayName}}
                                    </option>
                                {{/each}}
                            
                            </select>
                        </div>
                        {{> (dynamicPartial "tooltip" @root.partials)
                                content=(combineToString 
                                "Choose a tile to frame this tile's art," 
                                "<br/>" "or let it scale to the canvas.")
                        }}
                </div>	
            </footer>
		{{/if}}
</li>