<li
    class="interactive flexrow"
    data-id="{{this.id}}"
    data-type="{{this.type}}"
    data-frame-id="{{this.linkedBoundingTile}}"
    data-action="selectTile"
    data-missing="{{this.missing}}"
>
    <p>{{this.displayName}}</p>
	{{#if (eq this.missing true)}}
	<p class="error | fs-small">
		A tile with this id " {{this.id}} " doesn't exist in scene " <strong>{{this.currentSceneName}} " </strong>.
	</p>
	{{/if}}
    <button data-action="renderTileConfig" {{#if this.missing}}disabled{{/if}} title="render this tile's config"><i class="fas fa-cog"></i></button>
   <button class="danger" data-action="deleteTileData" title="delete this {{this.type}} tile's data? (will not delete the tile object itself)"><i class="fas fa-trash"></i></button>
</li>